.icons {
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px 1fr;
    gap: 15px;
    width: 100vw;
    padding-top: 30px;
}
.icons:first-child {
    padding-left: 30px;
    grid-column: 2;
}
.icons:nth-child(2) {
    grid-column: 3;
}
.icons:nth-child(3) {
    grid-column: 4;
}
.icons:nth-child(4) {
    grid-column: 5;
}
@media (max-width: 768px) {
    .logo {
        display: none;
    }
    .icons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .icons:first-child {
        padding-left: 4em;
        grid-column: auto;
    }
    .icons:nth-child(2) {
        grid-column: auto;
    }
    .icons:nth-child(4) {
        padding-right: 0;
        grid-column: auto;
    }
}

@media (max-width: 480px) {
    .logo {
        display: none;
    }
    .icons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .icons:first-child {
        padding-left: 3em;
        grid-column: auto;
    }
    .icons:nth-child(2) {
        grid-column: auto;
    }
    .icons:nth-child(4) {
        padding-right: 0;
        grid-column: auto;
    }
}