.cardsBody {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: 40px;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}

/* Estructura original para pantallas grandes */
.mesCard, .diaCard, .semanaCard {
    display: grid;
    grid-template-columns: 200px 300px 300px;
    grid-template-rows: auto; 
    gap: 20px;
}

.mesCard .icono, .diaCard .icono, .semanaCard .icono {
    justify-self: center;
    align-self: center;
}


/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .mesCard, .diaCard, .semanaCard {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto); /* Cambia a dos filas por tarjeta */
    }

    /* Ocultar la tercera columna en pantallas pequeñas */
    .mesCard div:nth-child(3),
    .diaCard div:nth-child(3),
    .semanaCard div:nth-child(3) {
        display: none;
    }

    /* Alinear contenido para que ocupe toda la fila */
    .mesCard div, 
    .diaCard div, 
    .semanaCard div {
        text-align: center;
    }

    .icono {
        justify-self: center;
        margin-bottom: 10px;
    }
}
