.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 120px auto;
    min-height: 100vh;
    width: 100%;
}


.body {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 80%;
    width: 100%;
    gap: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.rtViewer, .cardsViewer {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1024px) {
    .body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-rows: auto auto;
    }

    .body {
        padding: 0 2%;
        grid-template-columns: 1fr;
        grid-template-rows: 420px auto;
        gap: 15px;
        
    }


    .rtViewer, .cardsViewer {
        width: 100%;
    }

    .rtViewer {
        overflow: auto;
    }

    .cardsViewer{
        overflow-y: auto;
    }
}

@media (max-width: 480px) {
    .body {
        padding: 0 1%;
        gap: 10px;
    }
}
